@{
    var title = "Зміна паролю";
    if (ViewBag.Lang == "eng")
        title = "Change password";
    else if (ViewBag.Lang == "ru")
        title = "Сменить пароль";
    ViewData["Title"] = title;
}

@model ChangePasswordViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/loginstyle.css" />
}

@{
    var updBtnText = "Зберігти";
    var cancelBtnText = "Скасувати";
    var passwordTitle = "Повинен містити принаймні одну цифру та одну велику, та " +
                "малу літеру та принаймні 8 або більше символів";        
        @if (ViewBag.Lang == "eng")
        {
            updBtnText = "Save";
            cancelBtnText = "Cancel";
            passwordTitle = "Must contain at least one number and one uppercase and lowercase letter, " +
            "and at least 8 or more characters";
        }
        else if (ViewBag.Lang == "ru")
        {
            updBtnText = "Сохранить";
            cancelBtnText = "Отменить";
            passwordTitle = "Должен содержать как минимум одну цифру, одну заглавную и строчную букву," +
            " и как минимум 8 или более символов.";
        }
    }

    <form method="POST" id="form" class="form">
        <h1>@title</h1>
        @if (ViewBag.Lang == "eng")
        {
            <p class="mainp">Old password*</p>
        }
        else if (ViewBag.Lang == "ru")
        {
            <p class="mainp">Старый пароль*</p>
        }
        else
        {
            <p class="mainp">Старий пароль*</p>
        }
        <input id="oldPassword" class="formInput _req" type="password" name="oldPassword">
        @if (ViewBag.Lang == "eng")
        {
            <p class="mainp">New password*</p>
        }
        else if (ViewBag.Lang == "ru")
        {
            <p class="mainp">Новый пароль*</p>
        }
        else
        {
            <p class="mainp">Новий пароль*</p>
        }
        <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="formInput  _req"
               title="@passwordTitle" required>
        <p class="erroralert">@Html.ValidationMessage("ChangePasswordError")</p>
        <button id="button" class="button" type="submit">@updBtnText</button>
    </form>
    <a class="button" asp-area="" asp-controller="Cabinet" asp-action="Index">@cancelBtnText</a>