@model MainPageViewModel

@{
    var title = "Головна";
    if (ViewBag.Lang == "eng")
        title = "Main";
    else if (ViewBag.Lang == "ru")
        title = "Главная";
    ViewData["Title"] = title;
}

@section Styles {
    <link rel="stylesheet" href="~/css/mainstyle.css" />
    <style>
        @{
            var styleSheet = "";
            for (int i = 0; i < Model.Posters.Length; i++)
            {
                styleSheet += $"#poster-{i+1} {{ background-image: url(movies/{Model.Posters[i].LinkToPoster}); }}";
                styleSheet += $"@media (max-width: 650px) {{ #poster-{i+1} {{ background-image: url(movies/{Model.Posters[i].LinkToAffiche}); }} }}";
            }
         }
        @styleSheet
    </style>
}

@section Scripts {
    <script defer src="~/js/mainscript.js"></script>
}

<div id="triangleLeftOuter1" class="big-outer-triangle">
    <div id="triangleLeft1" class="big-inner-triange" onclick="scrollPosterLeft()">
    </div>
</div>
<div id="triangleRightOuter1" class="big-outer-triangle">
    <div id="triangleRight1" class="big-inner-triange" onclick="scrollPosterRight()">
    </div>
</div>
<div class="posters">
    @for (int i = 0; i < Model.Posters.Length; i++)
    {
        var active = "";
        if (i == 0)
            active = "active";
        var number = i + 1;
        <div class="poster @active" id="poster-@number">
            <div class="poster-info">
                <div class="poster-info-text">
                    <a asp-route-lang="@ViewBag.Lang" asp-controller="Movies" asp-action="Index" asp-route-id="@Model.Posters[i].Id"><h2>@Model.Posters[i].Name</h2></a><br>
                    <p>
                        @Model.Posters[i].Description
                    </p>
                </div>
            </div>
        </div>
    }

</div>
<div class="movies">
    <br><br>
    @if (ViewBag.Lang == "eng")
    {
        <h2>coming soon</h2>
    }
    else if (ViewBag.Lang == "ru")
    {
        <h2>скоро в прокате</h2>
    }
    else
    {
        <h2>скоро в прокаті</h2>
    }
    <div class="full-film-carousel">
        <div class="filler"></div>
        <div class="triangleBlock">
            <div id="triangleLeft2" class="small-triangle disabled"></div>
        </div>
        <div class="carousel-wrapper">
            <div class="film-carousel" id="carousel-1">
                @foreach (var film in Model.ComingSoon)
                {
                    <div class="filmBlock">
                        <figure>
                            <figcaption>@film.Name</figcaption>
                            <div class="affiche">
                                <a asp-route-lang="@ViewBag.Lang" asp-controller="Movies" asp-action="Index" asp-route-id="@film.Id">
                                    <img src="movies/@film.LinkToAffiche" alt="@film.Name">
                                </a>
                            </div>
                        </figure>
                    </div>
                }
            </div>
        </div>
        <div class="triangleBlock">
            <div id="triangleRight2" class="small-triangle"></div>
        </div>
        <div class="filler"></div>
    </div>
    <br><br>
    @if (ViewBag.Lang == "eng")
    {
        <h2>Shorts</h2>
    }
    else if (ViewBag.Lang == "ru")
    {
        <h2>Короткометражные фильмы</h2>
    }
    else
    {
        <h2>Короткометражні фільми</h2>
    }
    <div class="full-film-carousel">
        <div class="filler"></div>
        <div class="triangleBlock">
            <div id="triangleLeft3" class="small-triangle disabled"></div>
        </div>
        <div class="carousel-wrapper">
            <div class="film-carousel" id="carousel-2">
                @foreach (var film in Model.Shorts)
                {
                    <div class="filmBlock">
                        <figure>
                            <figcaption>@film.Name</figcaption>
                            <div class="affiche">
                                <a asp-route-lang="@ViewBag.Lang" asp-controller="Movies" asp-action="Index" asp-route-id="@film.Id">
                                    <img src="movies/@film.LinkToAffiche" alt="@film.Name">
                                </a>
                            </div>
                        </figure>
                    </div>
                }
            </div>
        </div>
        <div class="triangleBlock">
            <div id="triangleRight3" class="small-triangle"></div>
        </div>
        <div class="filler"></div>
    </div>
</div>